body {
    font-family: sans-serif;
    background: white;
    color: black;
}

body.status3 {
    color: #a00000;
}

video {
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

video.active {
    z-index: 2;
}

video.blocked {
    visibility: hidden;
}

#vidFlipped {
    /*transform: translate(-50%, -50%) scaleX(-1);*/
}

video.gb {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#printPreview {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 1vh;
    height: 76vh;
    width: 32vh;
    transform: translate(-50%, 0);
}

#printPreview.active {
    visibility: visible;
}

#instructions {
    visibility: hidden;
    position: absolute;
    left: 10vw;
    top: 10vh;
    bottom: 10vh;
    right: 10vw;
    font-size: 4vh;
}

#instructions.active {
    visibility: visible;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.1em 0.5em;
    background: rgba(255,255,255,0.5);
    font-size: 8vh;
    text-align: center;
    z-index: 3;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50vh;
    visibility: hidden;
}

#countdown.active {
    visibility: visible;
}

.red {
    color: #a00000;
}

.green {
    color: #00a000;
}
